In [ ]:
# import libraries
import pandas as pd
import sqlalchemy as sa
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

In [ ]:
metrocar_url="postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Metrocar"

In [ ]:
# create engine and connection
engine=sa.create_engine(metrocar_url)
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")

In [ ]:
inspector = sa.inspect(engine)

In [ ]:
table_names= inspector.get_table_names()
table_names

['transactions', 'signups', 'ride_requests', 'reviews', 'app_downloads']

In [ ]:
for table in table_names:
  print(table)
  table = pd.read_sql(f"SELECT * FROM {table}", connection)
  print(table.columns)
  print("-------")

transactions
Index(['transaction_id', 'ride_id', 'purchase_amount_usd', 'charge_status',
       'transaction_ts'],
      dtype='object')
-------
signups
Index(['user_id', 'session_id', 'signup_ts', 'age_range'], dtype='object')
-------
ride_requests
Index(['ride_id', 'user_id', 'driver_id', 'request_ts', 'accept_ts',
       'pickup_location', 'dropoff_location', 'pickup_ts', 'dropoff_ts',
       'cancel_ts'],
      dtype='object')
-------
reviews
Index(['review_id', 'ride_id', 'user_id', 'driver_id', 'rating', 'review'], dtype='object')
-------
app_downloads
Index(['app_download_key', 'platform', 'download_ts'], dtype='object')
-------

In [ ]:
# store 5 tables data in pd
transactions = pd.read_sql(f"SELECT * FROM transactions", connection)
signups = pd.read_sql(f"SELECT * FROM signups", connection)
ride_requests = pd.read_sql(f"SELECT * FROM ride_requests", connection)
reviews = pd.read_sql(f"SELECT * FROM reviews", connection)
app_downloads = pd.read_sql(f"SELECT * FROM app_downloads", connection)

1. How many times was the app downloaded?

In [ ]:
app_downloads.value_counts().sum()

23608

2.How many users signed up on the app?

In [ ]:
signups.value_counts().sum()

17623

3.How many rides were requested through the app?

In [ ]:
ride_requests["ride_id"].value_counts().sum()

385477

4.How many rides were requested and completed through the app?

In [ ]:
ride_requests["dropoff_ts"].value_counts().sum()

223652

In [ ]:
transactions.value_counts().sum()

223652

5.How many rides were requested and how many unique users requested a ride?

In [ ]:
ride_requests["user_id"].nunique()

12406

6.What is the average time of a ride from pick up to drop off?

In [ ]:
(ride_requests['dropoff_ts'] - ride_requests['pickup_ts']).mean()

Timedelta('0 days 00:52:36.738772736')

7.How many rides were accepted by a driver?

In [ ]:
driver_acctpted = ride_requests["accept_ts"].value_counts().sum()
driver_acctpted

248379

8.For how many rides did we successfully collect payments and how much was collected?

In [ ]:
transactions['charge_status'].value_counts()

charge_status
Approved    212628
Decline      11024
Name: count, dtype: int64

In [ ]:
collect_payment = transactions[transactions['charge_status'] == "Approved"]
collect_payment_count = collect_payment.value_counts().sum()
collect_payment_total = collect_payment['purchase_amount_usd'].sum()
print(str(collect_payment_count) +" was collected with "+ str(collect_payment_total) + " doller")

212628 was collected with 4251667.61 doller

9.How many ride requests happened on each platform?

In [ ]:
signup_user_platform = pd.merge(signups,app_downloads,left_on="session_id",right_on="app_download_key")
ride_request_platform = pd.merge(ride_requests, signup_user_platform, left_on='user_id',right_on="user_id")
ride_request_platform
ride_request_platform["platform"].value_counts()

platform
ios        234693
android    112317
web         38467
Name: count, dtype: int64

10.What is the drop-off from users signing up to users requesting a ride?

In [ ]:
total_signup_user = signups.value_counts().sum()
total_request_user = ride_requests["user_id"].nunique()
drop_off_user =  total_signup_user - total_request_user
drop_off = round(drop_off_user / total_signup_user * 100,2)
print(str(total_signup_user)+ " signed up, but "+str(total_request_user) +" requested a ride, with " +str(drop_off_user) +"  "+str(drop_off)+"% drop off")

17623 signed up, but 12406 requested a ride, with 5217  29.6% drop off